# compiled output
back/dist
back/node_modules

# Logs
back/logs
back/*.log
back/npm-debug.log*
back/pnpm-debug.log*
back/yarn-debug.log*
back/yarn-error.log*
back/lerna-debug.log*

# OS
back/.DS_Store

# Tests
back/coverage
back/.nyc_output

# IDEs and editors
back/.idea
back/.project
back/.classpath
back/.c9/
back/*.launch
back/.settings/
back/*.sublime-workspace

# IDE - VSCode
back/.vscode/*
back/!.vscode/settings.json
back/!.vscode/tasks.json
back/!.vscode/launch.json
back/!.vscode/extensions.json


# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
front/dist
front/tmp
front/out-tsc
front/bazel-out

# Node
front/node_modules
front/npm-debug.log
front/yarn-error.log

# IDEs and editors
front/.idea/
front/.project
front/.classpath
front/.c9/
front/*.launch
front/.settings/
front/*.sublime-workspace

# Visual Studio Code
front/.vscode/*
front/!.vscode/settings.json
front/!.vscode/tasks.json
front/!.vscode/launch.json
front/!.vscode/extensions.json
front/.history/*

# Miscellaneous
front/.angular/cache
front/.sass-cache/
front/connect.lock
front/coverage
front/libpeerconnection.log
front/testem.log
front/typings

# System files
front/DS_Store
front/Thumbs.db